<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title> Calculadora Simple </ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<!-- Div con todo el contenido. -->
	<div class="ion-padding">
		<div class="ion-padding" id="divValues">
			<!-- Div para el primer valor. -->
			<div class="ion-padding" id="divVal1">
				<ion-label>Valor 1</ion-label>
				<ion-input type="number" [(ngModel)]="val1" placeholder="Introduzca un número"></ion-input>
			</div>
			<!-- Div para el segundo valor -->
			<div class="ion-padding" id="divVal2">
				<ion-label>Valor 2</ion-label>
				<ion-input type="number" [(ngModel)]="val2" placeholder="Introduzca un número"></ion-input>
			</div>
			
		</div>
		<!-- Div con los botones de acción.
      		Cada botón tiene asociado una operación.
    		-->
			<div class="ion-padding" id="divOperations">
				<ion-button (click)="add()"> Sumar </ion-button>
				<ion-button (click)="subtract()"> Restar </ion-button>
				<ion-button (click)="multiply()"> Multiplicar </ion-button>
				<ion-button (click)="divide()"> Dividir </ion-button>
				<ion-button (click)="power()"> Potencia </ion-button>
			</div>
			<!-- Div para borrar los valores actuales y reinciar. -->
			<div class="ion-padding" id="divReset">
				<ion-button (click)="reset()" expand="block" color="danger">
					Reiniciar
				</ion-button>
			</div>
			<!-- Div con el resultado de la operación.
      		También muestra el tipo de operación actual.
    		-->
			<div class="ion-padding" id="divResult" *ngIf="result != undefined">
				<ion-card>
					<ion-card-header>
						Tipo de operación: {{ operation }}
						<br />
						<br />
						Resultado:
					</ion-card-header>
					<ion-card-content> {{ result }} </ion-card-content>
				</ion-card>
			</div>
	</div>
</ion-content>
<ion-footer>
	<ion-toolbar class="duplicateA">
		<p>Orientación del dispositivo: Vertical</p>
	</ion-toolbar>
	<ion-toolbar class="duplicateB">
		<p>Orientación del dispositivo: Horizontal</p>
	</ion-toolbar>
</ion-footer>